
  @keyframes gradient-change {
    0% { background-position: 0% 50%; } /* Start at left */
    100% { background-position: 100% 50%; } /* Transition to right */
  }

  /* Apply the animation and gradient to the text */
  .changing-text {
    animation: gradient-change 10s infinite; /* Change gradient every 5 seconds */
    background: linear-gradient(45deg, #fb0094, #00f, #0f0, 
    #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
  }