.join-us-bg{
    background-image:linear-gradient(to right, rgba(35, 35, 36, 0.52), rgba(20, 3, 43, 0.741)),
    url('/assets/Join us.avif');
    background-size: cover;
    background-repeat: no-repeat;
}